.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    color: blue;
    border-width: 0.5em;
    border-style: solid;
    border-color: green;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    top: 20px;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    color: blue;
    border-width: 0.5em;
    border-style: solid;
    border-color: red;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 485px;
    top: 20px;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    color: blue;
    border-width: 0.5em;
    border-style: solid;
    border-color: yellow;
  }